includes:
    - ../../vendor/larastan/larastan/extension.neon
    - ../../vendor/nesbot/carbon/extension.neon
    - ../../vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 9

    treatPhpDocTypesAsCertain: false

    tmpDir: /tmp/phpstan

    paths:
        - app/
        - config
        - database
        - routes

    stubFiles:
        - ../../_ide_helper_traits.php

    excludePaths:
        - vendor/**
        - tests/Support/**
        - tests/Stubs/**
        - app/Filament/**
        - app/Analytics/**
        - database/seeders/**
        - database/migrations/**

    ignoreErrors:
        -
          message: "#Called 'env' outside of the config directory which returns null when the config is cached, use 'config'.$#"
          identifier: larastan.noEnvCallsOutsideOfConfig
          path: config/*
        - '#PHPDoc tag @mixin contains unknown class.*IdeHelper.*#'
        - '#Call to an undefined method.*::searchableAs\(\)#'
        - '#Parameter.*\$ttl.*Cache::remember.*array given#'
        -
            identifier: generics.lessTypes
            path: app/Models
        -
            identifier: return.type
            path: app/Models

    reportUnmatchedIgnoredErrors: false

    checkModelProperties: false
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
    checkOctaneCompatibility: true
    noEnvCallsOutsideOfConfig: true
    checkModelAppends: true
